.App {
  text-align: center;
}

body {
  background-color: #212121;
}

.input-container {
  position: fixed;
  bottom: 2%;
  left: 15%;
  display: flex;
  flex-direction: row;
}

.radio-input-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  cursor: pointer;
  color: rgb(163, 173, 169);
  transition: text-shadow 0.3s ease;
}

.left>div:last-child .radio-input-label {
  padding: 0;
  margin: 0;
}

.left>div:last-child .radio-input-label {
  padding: 0;
  margin: 0;
  position: relative;
}

.left>div:last-child .radio-input-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  /* Adjust this value to make the border shorter or longer */
  border-top: solid 1px rgb(138, 138, 138);
}

.radio-input-label:hover {
  text-shadow: 0 0 10px rgba(127, 255, 212, 0.7);
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+.radio-input-label {
  color: rgb(39, 246, 177);
  text-shadow: 0 0 10px rgba(154, 255, 72, 1);
}

.left {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #303030;
  padding: 5px;
  border-radius: 1.5rem 0 0 1.5rem;
}

.text-area {
  background-color: #303030;
  resize: none;
  width: 95%;
  height: 90%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  transition: opacity 0.3s ease;
}

.text-area:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.text-area:disabled::placeholder {
  color: #666;
}

.right {
  width: 800px;
  background-color: #303030;
  padding-top: 10px;
  border-radius: 0 1.5rem 1.5rem 0;
}

.logo {
  height: 4em;
  position: fixed;
  left: 6px;
  top: 10px;
  animation: App-logo-spin 6s infinite linear;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}